<div id='pad_title' class='flex_title'>
  <div id='title'><h1><a href="" data-l10n-id="pad.loading">Loading...</a></h1></div>
  <input id='input_title'>
  <div id='edit_title' class='acl-write buttonicon buttonicon-pencil-alt'></div>
  <div id='save_title'><button class="btn btn-primary">OK</button></div>
</div>

<style type="text/css">
  #pad_title {
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin: 0 !important;
    padding: 3px 10px;
  }
  #input_title{
    display:none;
    flex: 1 auto;
    padding: 8px 10px !important;
  }
  #title{
    line-height:30px;
    max-width: calc(100% - 30px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #title h1 a{
    text-decoration:none;
  }
  #title h1{
    line-height:160%;
  }
  #edit_title{
    padding-top: 5px;
    margin-left: 10px;
    cursor:pointer;
    display:none;
  }
  #save_title{
    display:none;
    cursor:pointer;
    margin-left:8px;
  }
  #save_title button{
    margin-right: 0 !important;
  }
  @media print{
    #edit_title, #save_title{
      display:none;
    }
  }
  @media (max-width: 720px){
    #pad_title{
      display:none !important;
    }
  }
  .display_important {
    display:none !important;
  }
  .flex_title{
    display: flex !important;
  }
</style>
