<div id='pad_title'>
  <div id='title'><h1>Untitled Pad</h1></div>
  <input id='input_title'>
  <div id='edit_title'>Edit</div>
  <div id='save_title'><button>OK</button></div>
</div>

<style type="text/css">
#pad_title{
  margin:10px;
}
#input_title{
  height:27px;
  display:none;
}
#title{
  display:inline-block;
}
#edit_title{
  margin:10px;
  display:inline-block;
  cursor:pointer;
}
#save_title{
  display:inline-block;
  display:none;
  cursor:pointer;
}
</style>

<script src="../static/js/jquery.js"></script>


