<div id='pad_title'>
  <div id='title'><h1>Untitled Pad</h1></div>
  <input id='input_title'>
  <div id='edit_title' class='acl-write'>Edit</div>
  <div id='save_title'><button>OK</button></div>
</div>

<style type="text/css">
  #pad_title {
    height:30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin: 0 !important;
    padding: 10px;
  }
  #input_title{
    height:24px;
    display:none;
    padding-left:2px;
    flex: 1 auto;
  }
  #title{
    line-height:30px;
    max-width: calc(100% - 30px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #title h1{
    line-height:160%;
  }
  #edit_title{
    margin-left:10px;
    padding-top: 5px;
    cursor:pointer;
  }
  #save_title{
    display:none;
    cursor:pointer;
    margin-left:8px;
  }
  #save_title button{
    height:28px;
    padding: 0 2px 0 2px;
  }
  @media print{
    #edit_title, #save_title{
      display:none;
    }
  }
  @media (max-width: 720px){
    #pad_title{
      display:none;
    }
  }
</style>

<script src="../static/js/jquery.js"></script>


