<div id='pad_title'>
  <div id='title'><h1>Untitled Pad</h1></div>
  <input id='input_title'>
  <div id='edit_title' class='acl-write'>Edit</div>
  <div id='save_title'><button>OK</button></div>
</div>

<style type="text/css">
#pad_title{
  height:30px;
  margin:10px;
}
#input_title{
  height:24px;
  display:none;
  padding-left:2px;
}
#title{
  max-width:90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display:inline-block;
}
#edit_title{
  margin-left:10px;
  display:inline-block;
  cursor:pointer;
}
#save_title{
  display:inline-block;
  display:none;
  cursor:pointer;
}
#save_title button{
  height:28px;
  padding: 0 2px 0 2px;
}
@media print{
  #edit_title, #save_title{
    display:none;
  }
}
@media (max-width: 500px){
  #pad_title{
    display:none;
  }
}

</style>

<script src="../static/js/jquery.js"></script>


